In [1]:
a=[["kiran","20","chennai"],["madurai","kumar","45"]]  #this is list

In [41]:
a={"name": "kiran", "location" : "chennai", "age" : "20"} #this is dictionary

In [42]:
print(type(a))  #findig types

<class 'dict'>

In [43]:
print(isinstance(a,dict)) # validating the types

True

In [283]:
a=[["kiran","20","chennai"],["madurai","kumar","45"]]  
print(a[0][2])                # finding the 2nd word in the first portion of list.

chennai

In [290]:
a={"name": "kiran", "location" : "chennai", "age" : "20"}   
print(a["name"])
print(a.get("name"))     ## but in dictionary we no need to mention index position, just calling key name like (name, location & etc ) is enough like this.

kiran
kiran

In [285]:
print(a["salary"])  # it will through error because in list salary not available

KeyError: 'salary'

In [287]:
print(a.get("salary"))  # when we use get even the key or values not there it will through none.
print(a.get("salary",0))  # instead of none we can give 0 or any number or any characters here to replace or display the values.

None
0

In [21]:
## keys , values, items will work dictionary

print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'location', 'age'])
dict_values(['kiran', 'chennai', '20'])
dict_items([('name', 'kiran'), ('location', 'chennai'), ('age', '20')])

In [22]:
print(len(a))
print(min(a))
print(max(a))
print(sorted(a))

3
age
name
['age', 'location', 'name']

In [291]:
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '20'}

In [292]:
a["salary"] =100 #adding extra values in dictionary (set)
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '20', 'salary': 100}

In [293]:
a["salary"] =200  # changing values in dictionary (set)
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '20', 'salary': 200}

In [294]:
del a["salary"]  # delete salary key & values in dictionary
print(a)

{'name': 'kiran', 'location': 'chennai', 'age': '20'}

In [314]:
a={'name': 'kiran', 'location': 'chennai', 'age': '20', 'salary': 200, "name" : "test", "name" : "hello",}  #the latest values only the dictionary will take
print(a)

{'name': 'hello', 'location': 'chennai', 'age': '20', 'salary': 200}

In [317]:
b=a.popitem()   # pop out the last values , for each run it will remove the itesm one by one. 
print(a)
print(b)

{'name': 'hello', 'location': 'chennai', 'age': '20'}
('salary', 200)

In [318]:
a =["one","two","three"]   
b=[1,2,3]

c=dict(zip(a,b))  # to combine both the values and giving result as dict but a & b no of columns should match .
print(c)

{'one': 1, 'two': 2, 'three': 3}

In [37]:
##############data types
#string
#int
#list
#tuple
#set
#dict

In [44]:
### operators in python

In [319]:
## Arithmetic operator

a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a**b) #exp, a^b
print(a/b)
print(a%b)
print(a//b)  ##floor division --> quotient

7
3
10
25
2.5
1
2

In [46]:
# assignment operator

a=4

## relational operator 
a=5
b=2
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
True
True
False
False

In [49]:
## logical
## and
## or
## not

print(True and True) # true
print(True and False) #false
print(True and False) #true
print(not True)  #false
print(not False) #true

True
False
False
False
True

In [50]:
#### loops (if, while, for)
## if  
## while
## for

In [51]:
## if loop --> decision making statement

In [61]:
name ="kiran"
mark ="50"

if name =="kiran" and mark =="50":    # == is relation operator and used to compare 2 values ":" this symbol used for goto next line in the loop
    print("yes")
else:
    print("No")

yes

In [64]:
#nested if ( if inside if)

name ="kiran"
mark =50

if name =="kiran" and mark > 35:   
    if mark > 60:
        print("first class")
    else:
        print("second class")
else:
    print("fail")

second class

In [70]:
## if  -elif   if conditiion always check first conditions


name= "kiran"
mark =59
if mark == 100:
    print("centum")
elif mark >= 90:
    print("A grade")
elif mark >= 60:
    print("first class")
elif mark >= 40:
    print ("third class")
else:
    print("Fail")

    
if name =="kiran":
    print("Yes")

third class
Yes

In [74]:
## In while loop make sure to break the loop , else it will go infinite

a=1    
while  a<5:   #if true it will go to loop 
    print(a)
    a=a+1

1
2
3
4

In [77]:
## while loop with = 

a=1 
    
while  a<=5:   #if true it will go to loop
    print(a)
    a=a+1

1
2
3
4
5

In [78]:
### for loop (range concept)

In [79]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
list(range(10,15))

[10, 11, 12, 13, 14]

In [326]:
list(range(10,15,2))  # it will display based on 2nd value given.

[10, 12, 14]

In [85]:
for i in range(5):
    print(i)

0
1
2
3
4

In [86]:
a=  ["Hello","welcome","to","Tamilboomi"]
for i in a:
    print(i)

Hello
welcome
to
Tamilboomi

In [248]:
a="hello welcome to tamilboomi, today we are learning python"

b=a.split(" ")                          # split the a variable based on space
print(b)

for i in b:                             # for loop for splitted values
    if i =="python":                    #in for loop finding above splited variable having python word.
        print("Yes python has occured")

['hello', 'welcome', 'to', 'tamilboomi,', 'today', 'we', 'are', 'learning', 'python']
Yes python has occured

In [246]:
a = {"name" : "dinesh", "age": 12, "location" : "chennai"}

In [247]:
for i in a.keys():
    print(i)

name
age
location

In [102]:
for i in a.values():
    print(i)

dinesh
12
chennai

In [110]:
for k,v in a.items():
    print(f"key is : {f}")
    print(f"values is : {v}")

key is : name
values is : dinesh
key is : age
values is : 12
key is : location
values is : chennai

In [111]:
## assignment
## Need result like this a=[12,14,16,18]

In [341]:
l =[]
for i in range(10,20):    # in range of 10 to 20 finding odd/even numbers 
    if i % 2 == 1:        # 0 will give even numbers  , 1 will give odd numbers
        print(i)
        l.append(i)
       #print(i) #1
    #print(i) #2
    
print(l)

11
13
15
17
19
[11, 13, 15, 17, 19]

In [120]:
## a=["test@gmail.com" ,"kumar@yahoo.com" , "kiran@gmail.com"]
## output 1 =["test","kiran","kumar"]
## output 2 =["gamil","yahoo"]

# Task 1

In [277]:
a=["test@gmail.com" ,"kumar@yahoo.com" , "kiran@gmail.com"]
l= []
for i in a:
    splitt = (i.split("@")[0])
    l.append(splitt)

print(l)

['test', 'kumar', 'kiran']

In [281]:
aq=["test@gmail.com" ,"kumar@yahoo.com" , "kiran@gmail.com"]
l= []
for i in aq:
    splitt = (i.split("@")[1])
    l.append(splitt)

print(list(set(l)))

['yahoo.com', 'gmail.com']

In [121]:
## a=["apple","apple","mango","mango","orange"]
## output ={"apple":2, "mango" :2, "orange":1}
## unique fruit list =["apple","mango","orange"]
## duplicate fruit list ["apple","mango"]

# Task 2

In [346]:
a=["apple","apple","mango","mango","orange"]
print(type(a))

<class 'list'>

In [347]:
## To show only unique values
b=(list(set(a)))
print(b)

['apple', 'mango', 'orange']

In [348]:
# declared 3 variable as zero and using them into loop to find number of accurences and increased the count accordingly 

ant =0
mnt =0
ont =0
for i in a:
    if i =="apple":
        ant =ant+1
        print(f"apple:{ant}")
    elif i =="mango":
        mnt =mnt+1
        print(f"mango:{mnt}")
    elif i =="orange":
        ont =ont+1
        print(f"orange:{ont}")
    else:
        print("False")

apple:1
apple:2
mango:1
mango:2
orange:1

In [349]:
"""
making list for above finding which is having count of each fruit 
(note: when making list for intergers put doble open & close brackets)
"""
c = list((ant,mnt,ont))
print(c)

[2, 2, 1]

In [350]:
# making dictionary by combaining b & c variables.
d=dict(zip(b,c))
print(d)

{'apple': 2, 'mango': 2, 'orange': 1}

In [351]:
# to find duplcate values

l=[]
for i in d:
    if i =="apple" and d.get("apple")>1:   #find apple and finding values of apple >1 or not and assing the values to "app"
        #print(i)
        app=i
        l.append(app)
    elif i =="mango" and d.get("mango")>1:     #find mango and finding values of mango >1 or not and assing the values to "mang"
        #print(i)
        mang=i
        l.append(mang)
    elif i=="orange" and d.get("orange") >1:    #find orange and finding values of orange >1 or not and assing the values to "oran"
        print(i)
        oran=i
        l.append(oran)
        
print(l)

['apple', 'mango']