In [1]:
# 2 records of people . 

name_1="kiran"
age_1="25"
location_1="chennai"
name_2="kumar"
age_2="28"
location_2="maduari"

In [126]:
a=[["kiran","25","chennai"],["kumar","28","madurai"]]  #this is list values

In [2]:
a=["kiran","25","chennai"]  # single list

In [3]:
print(type(a))  #finding types

<class 'list'>

In [4]:
print(isinstance(a,list))  # verifing the type

True

In [8]:
#length
#min
#max
#first index
#reverse a list

In [5]:
print(len(a))   # finding len, min, max, index of 1st value , sorting
print(max(a))
print(min(a))
print(a[0])
print(sorted(a))

3
kiran
25
kiran
['25', 'chennai', 'kiran']

In [130]:
a = ["kiran" ,25,"chennai"]  # sorting list is not supported because 25 alone is different value.
print(sorted(a))

TypeError: '<' not supported between instances of 'int' and 'str'

In [6]:
#Sorting the values.

a=[100,5,60,54]
print(sorted(a))

[5, 54, 60, 100]

In [133]:
a="SachinTendulkar"
print(sorted(a))

['S', 'T', 'a', 'a', 'c', 'd', 'e', 'h', 'i', 'k', 'l', 'n', 'n', 'r', 'u']

In [48]:
a=[100,5,60,54]
a.append(2000)  #add at last index
print(a)

[100, 5, 60, 54, 2000]

In [49]:
a.insert(2,5000)  #add at particular index
print(a)

[100, 5, 5000, 60, 54, 2000]

In [51]:
a.remove(54) # to remove particular value
print(a)

[100, 5, 5000, 60, 2000]

In [52]:
del a[1]
print(a)

[100, 5000, 60, 2000]

In [53]:
b=a.pop()
print(a)
print(b)

[100, 5000, 60]
2000

In [41]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [38]:
a=[1,2,3]
b=[4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [39]:
a=[1,2,3]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [42]:
##copy in python
## shallow copy --> s -> shared memory
## deep copy --> d --> different memory

In [44]:
##shallow copy
a=[1,2,3]
b=a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [45]:
##deep copy
a=[1,2,3]
b=a.copy()
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [60]:
a=[1, 2, 3, 4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [61]:
a[0:3]

[5, 4, 3]

In [62]:
a.index(3)  # index is supported in list, find ,rfind is not supported

2

In [64]:
a.rfind(3) # index is supported in list, find ,rfind is not supported

AttributeError: 'list' object has no attribute 'rfind'

In [65]:
a=[["kiran","25","chennai"],["kumar","28","madurai"]]

In [74]:
print(a[0][2])

chennai

In [75]:
print(a[1][2])

madurai

In [77]:
a=(1,2,3)
#type
#isinstance
print(type(a))
print(isinstance(a,tuple))

<class 'tuple'>
True

In [78]:
print(min(a))
print(a[0])
print(len(a))

1
1
3

In [82]:
b=a   # shallow copy
print(b)

(1, 2, 3)

In [80]:
b=a.copy    #in list we can do this deep copy but in tuple this function cannot be done the deep copy

AttributeError: 'tuple' object has no attribute 'copy'

In [81]:
## bracket 
## list mutable (changeable), tuple immutable (not changeable)
## tuple -faster

In [83]:
a={1,2,3}

In [84]:
print(type(a))

<class 'set'>

In [85]:
print(isinstance(a,set))

True

In [86]:
a={1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3}
print(a)

{1, 2, 3}

In [87]:
a=["test","test","try","hello","hello"]   # to remove duplicate from list

In [94]:
print(list(set(a)))

['test', 'hello', 'try']

In [95]:
print(tuple(set(a)))

('test', 'hello', 'try')

In [96]:
a=("test","test","try","hello","hello")  #remove duplicate from tuple

In [97]:
print(set(a))

{'test', 'hello', 'try'}

In [98]:
print(list(set(a)))

['test', 'hello', 'try']

In [99]:
a={50,20,10,5,6,200}    # by default set will order the data. 
print(a)

{50, 20, 5, 6, 200, 10}

In [100]:
print(min(a))
print(len(a))
print(sorted(a))

5
6
[5, 6, 10, 20, 50, 200]

In [101]:
print(a[0])  # index completly remvoed from set.

TypeError: 'set' object is not subscriptable

In [109]:
a={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

In [110]:
a.remove(4)
print(a)

{1, 2, 3}

In [111]:
b=a.pop()
print(b)
print(a)

1
{2, 3}

In [112]:
###
a={1,2,3,4,5}
b={4,5,6,7,8}

In [113]:
print(a.union(b))   # to union all afer removed duplicate
print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [114]:
print(a.intersection(b)) # common between a & b variable 
print(a & b)

{4, 5}
{4, 5}

In [116]:
print(a.difference(b))  # which is not available in b
print(a - b)
print(b.difference(a)) # which is not available in a
print(b-a)

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}
{8, 6, 7}

In [122]:
print(a.symmetric_difference(b)) # to remove common at both a & b
print(a^b)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [1]:
a= {1,2,3,4,5}
b= {3,4}
print(a.issuperset(b))     # a is superset of b which means b inclusive of a.
print(b.issuperset(a))     # b is not superset a because b is just part of a. 

print(a.issubset(b))
print(b.issubset(a))

True
False
False
True

In [ ]:
"""
{}  set will remove duplicate by default
[]  list helps to change the values inside
()  tuple immutable (can't edit the values)

"""